set default=0
set timeout=30
set grubmenus=/resources/grubmenus

insmod all_video
insmod gfxterm
insmod regexp
insmod linux

search --no-floppy --label INSTALL --set=root
set installsrc="hd:LABEL=INSTALL:"
export installsrc

submenu 'Red Hat Enterprise Linux' {
    set distro=/rhel
    export distro

    submenu 'RHEL 7' {
        set osroot="${distro}/7"
        export osroot
        source $grubmenus/standard.cfg
    }

    submenu 'RHEL 8' {
        set osroot="${distro}/8"
        export osroot
        source $grubmenus/standard.cfg
    }

    submenu 'RHEL 9' {
        set osroot="${distro}/9"
        export osroot
        source $grubmenus/standard.cfg
    }

    submenu 'RHEL 10' {
        set osroot="${distro}/10"
        export osroot
        source $grubmenus/standard.cfg
    }
}
