#!/usr/bin/env bash

# NOTE: Bash function names with `-` are not portable to posix shells like /bin/sh

# Git
gitm() {
    git add -A
    git commit -m "$1"
    git push
}

# find + xargs
findx() {
  local target
  target="$1"

  find "$target" -mindepth 1 -maxdepth 1 -print0 | xargs -0 -r -I{} -P8 
}

# Prompt
prompt_env() {
  local branch
  if [[ -n "${VIRTUAL_ENV:-}" ]]; then
    printf '(%s)' "$(basename "$VIRTUAL_ENV")"
  elif branch=$(git symbolic-ref --quiet --short HEAD 2>/dev/null); then
    printf '%s' "$branch"
  else
    printf '%(%H:%M:%S)T' -1
  fi
}

{% if add_situational_functions %}
# Monitor Brightness
set-brightness() {
  sudo ddcutil --display 1 setvcp 10 "$1"
  sudo ddcutil --display 2 setvcp 10 "$1"
}
{% endif %}
