" Core Settings
set encoding=utf-8
set tabstop=4
set shiftwidth=4
set softtabstop=4
set expandtab
set autoindent
set number
set numberwidth=1
syntax on
filetype plugin on
for scheme in ['apprenctice', 'slate', 'default']
    try
        execute 'colorscheme ' . scheme
        break
    catch /^Vim.*:E185/
    endtry
endfor

" Navigation keybindings
inoremap <A-j> <Esc>
nnoremap j h
nnoremap k j
nnoremap l k
nnoremap ; l
nnoremap h ;

vnoremap j h
vnoremap k j
vnoremap l k
vnoremap ; l
vnoremap h ;

onoremap j h
onoremap k j
onoremap l k
onoremap ; l
onoremap h ;

nnoremap <C-w>j <C-w>h
nnoremap <C-w>k <C-w>j
nnoremap <C-w>l <C-w>k
nnoremap <C-w>; <C-w>l
nnoremap <C-w>h <C-w>;

" User defined commands
command! -nargs=* Shellcheck execute '!shellcheck ' . shellescape(expand('%:p'))
command! -nargs=* Ruffcheck execute '!ruff check ' . shellescape(expand('%:p'))
command! Ansiblelint execute '!ansible-lint ' . shellescape(expand('%:p'))

" Auto commands
autocmd BufNewFile *.{yml,yaml} call append(0, '---')
autocmd BufNewFile *.{sh,bash} call append(0, '#!/usr/bin/env bash')
autocmd BufNewFile *.py call append(0, '#!/usr/bin/env python3')

augroup ft_others
  autocmd!
  autocmd FileType yaml,html,css setlocal expandtab tabstop=2 softtabstop=2 shiftwidth=2
augroup END
